
@{
    ViewBag.Title = "Index";

    var a = ViewData["Temp1"];
    
}

<h2>Index</h2>

<h3>@a</h3>
<hr />

@using MVC5Course.Models.ViewModels
@{    
    var b = ViewData["Temp2"] as ClientLoginViewModel;
}

@b.FirstName @b.LastName
<hr />

@ViewBag.Temp3.FirstName
<hr />

@ViewBag.Temp2.FirstName @ViewBag.Temp2.LastName
<hr />
起始時間 : @ViewData["StrTime"].ToString()
<br />
結束時間 : @ViewData["EndTime"].ToString()